In [6]:
import pandas as pd
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [2]:
file_path = 'DatosT4.xlsx'
df = pd.read_excel(file_path, sheet_name='Hoja1', skiprows=3)

In [3]:
# eliminar columnas vacías
df = df.drop(columns=['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'])

In [4]:
df.columns = [
    'Country', 'Men_2022', 'Women_2022', 
    'Primary_secondary_2022', 'Upper_secondary_postsecondary_2022', 'Tertiary_2022', 
    "Bachelor's_2022", "Master's_2022", 'Doctoral_2022', 
    'GDP_2022', 'Gross_capital_formation_2022', 'Wages_salaries_2022', 
    'Taxes_production_imports_2022', 'Subsidies_2022', 
    'Mean_net_income_2022', 'Median_net_income_2022', 
    'Men_2023', 'Women_2023', 
    'Primary_secondary_2023', 'Upper_secondary_postsecondary_2023', 'Tertiary_2023', 
    "Bachelor's_2023", "Master's_2023", 'Doctoral_2023', 
    'GDP_2023', 'Gross_capital_formation_2023', 'Wages_salaries_2023', 
    'Taxes_production_imports_2023', 'Subsidies_2023', 
    'Mean_net_income_2023', 'Median_net_income_2023'
]

In [5]:
# aquí cambiar usuario y contraseña

conn = mysql.connector.connect(
    host='localhost',
    user='tu_usuario',
    password='tu_contraseña'
)

cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS DatosT4")
cursor.execute("USE DatosT4")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
cursor.execute("""
    CREATE TABLE Datos (
        Country VARCHAR(50),
        Men_2022 INT,
        Women_2022 INT,
        Primary_secondary_2022 FLOAT,
        Upper_secondary_postsecondary_2022 FLOAT,
        Tertiary_2022 FLOAT,
        Bachelor_2022 INT,
        Master_2022 INT,
        Doctoral_2022 INT,
        GDP_2022 FLOAT,
        Gross_capital_formation_2022 FLOAT,
        Wages_salaries_2022 FLOAT,
        Taxes_production_imports_2022 FLOAT,
        Subsidies_2022 FLOAT,
        Mean_net_income_2022 FLOAT,
        Median_net_income_2022 FLOAT,
        Men_2023 INT,
        Women_2023 INT,
        Primary_secondary_2023 FLOAT,
        Upper_secondary_postsecondary_2023 FLOAT,
        Tertiary_2023 FLOAT,
        Bachelor_2023 INT,
        Master_2023 INT,
        Doctoral_2023 INT,
        GDP_2023 FLOAT,
        Gross_capital_formation_2023 FLOAT,
        Wages_salaries_2023 FLOAT,
        Taxes_production_imports_2023 FLOAT,
        Subsidies_2023 FLOAT,
        Mean_net_income_2023 FLOAT,
        Median_net_income_2023 FLOAT
    )
""")

for i, row in df.iterrows():
    cursor.execute("""
        INSERT INTO Datos VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

conn.commit()
conn.close()